<div class="wrapper">
  <div class="counter mb-5"></div>
  <p class="header-text text-black">Education</p>
  <p class="sub-text">Inform companies about your education</p>

  <div class="form-wrapper mt-5">
    <form [formGroup]="educationForm" (ngSubmit)="eduSubmit()">
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">School</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="school" />
          </div> 
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">Course</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="course" />
          </div> 
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">Qualifications</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="qualifications" />
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <button class="btn back-btn px-4 py-2" appBackButton>Back</button>
        <button class="btn btn-primary px-4 py-2 ml-4">Next Step</button>
      </div>
    </form>
  </div>
</div>
