<div class="wrapper">
  <div class="counter mb-5"></div>
  <p class="header-text text-black">Work Experiences</p>
  <p class="sub-text">Can you talk about your past work experience?</p>

  <div class="form-wrapper mt-5">
    <form [formGroup]="workForm" (ngSubmit)="workSubmit()">
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">Experience 1</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="experience1" />
            <span class="text-danger" *ngIf="workForm.controls['experience1'].errors?.required && !workForm.controls['experience1'].pristine">Experience is required</span>
          </div> 
        </div>
        <div class="form-group col-12 col-md-5 mb-4 no-pad-mobile">
          <div>
            <label for="">Position</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="position1"/>
            <span class="text-danger" *ngIf="workForm.controls['position1'].errors?.required && !workForm.controls['position1'].pristine">Position is required</span>
          </div> 
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">Experience 2</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="experience2" />
          </div> 
        </div>
        <div class="form-group col-12 col-md-5 mb-4 no-pad-mobile">
          <div>
            <label for="">Position</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="position2"/>
          </div> 
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="form-group col-12 col-md-5 mb-4 remove-left-pad no-pad-mobile">
          <div>
            <label for="">Experience 3</label>
            <input type="text" class="form-input w-100 py-3 pl-5" formControlName="experience3" />
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-4">
        <button class="btn back-btn px-4 py-2" appBackButton>Back</button>
        <button class="btn btn-primary px-4 py-2 ml-4">Next Step</button>
      </div>
    </form>
  </div>
</div>

