/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(165deg, #097bfd 56%, #f2f3f5 44%);
  position: relative;
}

.remove-left-pad {
  padding-left: 0;
}

input {
  border-radius: 5px;
  border: 2px solid lightgray;
  outline: none;
  font-size: 1.4rem;
}

input:focus {
  border-color: #c6deed;
}

label {
  font-size: 1.4rem;
}

.counter {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #fef1e3;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
}

.sub-text {
  color: #777;
  font-size: 1.4rem;
}

.btn {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
}

.back-btn {
  margin-left: -2.5%;
}

@media only screen and (max-width: 768px) {
  .no-pad-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}