<div class="wrapper">
  <div class="container d-flex flex-row">
    <aside class="sidebar p-2 text-white">
      <p class="mt-4 mx-5 logo-text">indeed</p>
      <p class="step-text mx-5">Step 1</p>
      <p class="regular-text mx-5 text-white">Enter your personal information to get closer to companies</p>
      <div>
        <div class="d-flex flex-column mx-5 mt-4">
          <div class="d-flex flex-row regular-text mb-2">
            <div class="number-wrapper text-center active-wrapper">
              <span>1</span>
            </div>
            <div class="text-wrapper ml-4 active-text">Personal Information</div>
          </div>
          <div class="filler mb-2"></div>
          <div class="d-flex flex-row regular-text mb-2">
            <div class="number-wrapper text-center">
              <span>2</span>
            </div>
            <div class="text-wrapper ml-4">Education</div>
          </div>
          <div class="filler mb-2"></div>
          <div class="d-flex flex-row regular-text mb-2">
            <div class="number-wrapper text-center">
              <span>3</span>
            </div>
            <div class="text-wrapper ml-4">Work Experience</div>
          </div>
          <div class="filler mb-2"></div>
          <div class="d-flex flex-row regular-text mb-5">
            <div class="number-wrapper text-center">
              <span>4</span>
            </div>
            <div class="text-wrapper ml-4">User Photo</div>
          </div>
          <div class="filler-2"></div>
        </div>
      </div>
    </aside>
    <div class="content">
      <!-- <app-info-page></app-info-page> -->
      <!-- <app-education-page></app-education-page> -->
      <app-work-page></app-work-page>
      <!-- <app-photo-page></app-photo-page> -->
    </div>
  </div>
</div>